
#faq{

}
#faq .title{
    background-color: #f5f5f5;
    margin-bottom:30px;
}
#faq .title h1{
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    color:#434853;
    margin: 0;
}
#question .panel .panel-title{
    font-size: 18px;
    color: #333;
    line-height: 40px;
    background:url("../images/faq_icon01.png") no-repeat left center  ;
    padding-left: 40px;
}

#question .panel h3.active{
    background:url("../images/faq_icon02.png") no-repeat left center;
}
h3.active a{
    color: red;
}
#question .panel .panel-title:hover a{
    color: red;
    text-decoration: none;
}
#question .panel .panel-body{
    border: none;
    line-height: 24px;
    font-size: 14px;
    color: #666;
    background-color: #f5f5f5;
    padding: 10px;
    border-left: 2px solid #669966;
    margin: 0 5px 10px;
}
#question .panel .panel-body p{
    text-indent: 2em;
}