
/*main区样式开始*/
section.mainBox  {margin-top: 30px;margin-bottom:20px;
}
.main .text-info{color: #003085;}
.main h1{
	height: 70px;
	font-size:24px;
	padding-top:18px;
	background: url("../images/h1_title_bg.png") no-repeat scroll center center;
}
.main p{
	line-height: 32px;
	font-size: 18px;
}
.mediaTxt{
	padding-left: 10px;
	font-size:16px ;
	color:#333;
	line-height: 24px;
}
.mediaTxt dl{
	margin: 20px 0 30px;
}
.mediaTxt dt,.mediaTxt dd{display: inline-block}
.mediaTxt dt{
	line-height:26px;
	padding-right: 4px;
}
.mediaTxt dd{
	color: #666;font-size:15px;
}
.mediaTxt dd:nth-last-child(1){
	padding-left:190px;}
.mediaTxt .btnBox a:nth-child(1){
	font-size: 24px;
	background-color: #ff9900;
	padding:12px 25px;
	color: #fff;
}
.mediaTxt .btnBox a:nth-child(1):hover{
	background-color: lightseagreen;
}
.mediaTxt .btnBox a:nth-child(2){
	color: #666;
}
.mediaTxt .btnBox a:nth-child(2):hover{
	color: deepskyblue;
}
.mediaBox .imgBox{
	padding-top:40px;
}

/*main区样式结束*/

/*我们的优势开始*/
.advantage{
	background-color: #f5f5f5;
	padding-top:30px;
	padding-bottom:40px;
	margin-top: 40px;
}
.advantage h1{
	font-size:24px;
	height: 68px;
	line-height: 60px;
	text-align: center;
	background:url("../images/h1_title_bg.png") no-repeat center;
	margin-bottom: 30px;
}
.advantage .details {
	height:160px;
	background-color: #ddd;
	padding:30px 20px 26px 120px;
	color: #fff;
	font-size: 24px;
	margin: auto;
	margin-top:20px ;

}
.advantage .details dd{
	padding-top:14px;
	font-size:15px ;
	line-height: 20px;

}
.advantage .row div:nth-child(1) .details{
	background: #8abd18 url(../images/index_icon01.png) no-repeat 20px 16px;

}
.advantage .row div:nth-child(2) .details{
	background: #309ad8 url(../images/index_icon02.png) no-repeat 20px 16px;}
.advantage .row div:nth-child(3) .details{
	background: #28d5b9 url(../images/index_icon03.png) no-repeat 20px 16px;

}
.advantage .row div:nth-child(4) .details{
	background: #ff5d43 url(../images/index_icon04.png) no-repeat 20px 16px;}

/*我们的优势结束*/
footer .container{
	max-width: 960px;
}
footer dl{
	padding:30px 30px 0 6px;
	font-size: 14px;
	color: #333;
}
footer dl dt{
	font-size: 22px;
	padding-bottom: 20px;
}
footer dl dd{
	line-height: 30px;
}
footer dl a{
	color: #333;
}
footer dl dd a:hover{
	color: #0F51B2;
}
footer .contact dd img{
	width: 20px;
	margin-right:10px;
	display: inline-block;
}
footer .contact dd p{
	background:url("../images/index_icon12.png") no-repeat left 7px;
	padding-left: 30px;
}
footer .link dd span{
	padding-right: 14px;
}
footer .news{
	padding-right:10px;
}
footer .news dd{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;

}
footer .footerInfo{
	font-family: "微软雅黑", "Arial", serif;
	padding-top: 20px;
	padding-bottom:10px;
	font-size:12px;
	line-height: 20px;
	background-color: #666;
	color: #fff;
}

