
#news h1{
    background-color: #f5f5f5;
    height: 90px;
    line-height: 90px;
    font-size: 28px;
    color:#434853;
    margin: 0;
    margin-bottom:30px;
}
#news .media-list{
    margin-bottom:40px;
}
.newsBox{
    padding:20px;
    border-bottom: dashed 1px #ddd;
    margin-top: 0;
}

.newsBox .media-left img{
    border:1px solid #ddd;
    padding: 2px;
    vertical-align: middle;
}
.newsBox .media-left img:hover{
    border:1px solid #34b3d7;
}
.newsBox .newsBody h3 a{
    color: #000;
    font-size: 20px;
}
.newsBox .newsBody h3 a:hover{
    color: #34b3d7;
    text-decoration: none;

}
.newsBox .newsBody h3 small{
    color: #999;
    padding-left:10px;

}
.newsBox .newsBody p{
    margin: 0 0 10px;
    text-indent: 2em;
    padding-top: 10px;
    line-height: 26px;
    color: #666;
}